body{
    background: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
   
}

/* navebar */
.navbarfull {
    width: 100%;
    background-color: orangered;
    height: 120px;
    position: fixed;
    min-width: 1100px;
    z-index: 9999999;
}
.navbarfull #navbar-1 {
    font-size: 13px;
    width: 70%;
    height: 40px;
    background-color: orchid;
    position: relative;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
}
/* navebar1-left */
.navbarfull #navbar-1 #leftmenu-1{
    width: 50%;
    height: 40px;
    background-color: red;
    position: relative;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
}
.navbarfull #navbar-1 #leftmenu-1 #leftbox-1{
    width: 100%;
    height: 25px;
     background-color: purple;
     margin-top: 10px;
}
/* navebar1-right */
.navbarfull #navbar-1 #rightmenu-1{
    width: 50%;
    height: 40px;
    background-color: green;
    position: relative;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
}
.navbarfull #navbar-1 #rightmenu-1 #rightbox-1{
    width: 100%;
    height: 25px;
     background-color: rgb(97, 72, 97);
     margin-top: 10px;
     margin-left: auto;
     text-align: right;
}
.navbarfull #navbar-2 {
    width: 70%;
    height: 80px;
    background-color:palevioletred;
    position: relative;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
}
.navbarfull #navbar-2 #leftmenu-2{
    width: 15%;
    height: 80px;
    background-color: rgb(23, 83, 248);
    position: relative;
    margin: 0px;
    min-width: 100px;
}
.navbarfull #navbar-2 #leftmenu-2 img{
    background-color: white;
    color: green;
    margin-top: 10px;
}
.navbarfull #navbar-2 #bigmenu-2{
    width: 70%;
    height: 80px;
    background-color: rgb(137, 168, 255);
    position: relative;
    margin: 0px;
}
.navbarfull #navbar-2 #bigmenu-2 #topmenu-2{
    width: 100%;
    height: 55px;
    background-color: rgb(236, 23, 255);
    position: relative;
    margin: 0px auto;
}
.navbarfull #navbar-2 #bigmenu-2 #bottommenu-2{
    width: 100%;
    height: 25px;
    background-color: rgb(105, 26, 124);
    position: relative;
    margin: 0px auto;
}
.navbarfull #navbar-2 #rightmenu-2{
    width: 15%;
    height: 80px;
    background-color: rgb(85, 129, 250);
    position: relative;
    margin: 0px;
    margin-left: auto;
}

/* login */
.contain-login{
    min-width: 800px;
    width: 50%;
    height: 500px;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(35, 25, 25, .4);
}
.contain-login #boxlogin{
    width: 80%;
    height: 100%;
    margin: 0px auto;

}
.contain-login #boxlogin #piclogin{
    width: 50%;
    height: 50%;
    margin: 0px auto;
    /* background-color: rgb(47, 100, 61); */
}
.contain-login #boxlogin #input-username{
    width: 70%;
    height: 10%;
    margin: 20px auto 10px auto;

    flex-wrap: wrap;
    display: flex;
}
.contain-login #boxlogin #input-password{
    width: 70%;
    height: 10%;
    margin: 0px auto;

    flex-wrap: wrap;
    display: flex;
}
.contain-login #boxlogin #incorect{
    width: 70%;
    height: 5%;
    margin: 0px auto;
}
.contain-login #boxlogin #bt-signin{
    width: 35%;
    height: 8%;
    margin: 0px auto;
}
.contain-login #boxlogin #bt-signup{
    width: 35%;
    height: 10%;
    margin: 10px auto;

    text-align: center;
}

/*footter*/
.contain-footter{
    margin-top: 10%;
    width: 100%;
    height: 300px;
    min-width: 1100px;
    background-color: #4a4a4a;
}
.contain-footter #content-footter{
    width: 70%;
    height: 100%;
    background-color: #777777;
    margin:0px auto;
}