body{
    background: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
   
}

/* navebar */
.navbarfull {
    width: 100%;
    background-color: orangered;
    height: 120px;
    position: fixed;
    min-width: 1100px;
    z-index: 9999999;
}
.navbarfull #navbar-1 {
    font-size: 13px;
    width: 70%;
    height: 40px;
    background-color: orchid;
    position: relative;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
}
/* navebar1-left */
.navbarfull #navbar-1 #leftmenu-1{
    width: 50%;
    height: 40px;
    background-color: red;
    position: relative;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
}
.navbarfull #navbar-1 #leftmenu-1 #leftbox-1{
    width: 100%;
    height: 25px;
     background-color: purple;
     margin-top: 10px;
}
/* navebar1-right */
.navbarfull #navbar-1 #rightmenu-1{
    width: 50%;
    height: 40px;
    background-color: green;
    position: relative;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
}
.navbarfull #navbar-1 #rightmenu-1 #rightbox-1{
    width: 100%;
    height: 25px;
     background-color: rgb(97, 72, 97);
     margin-top: 10px;
     margin-left: auto;
     text-align: right;
}
.navbarfull #navbar-2 {
    width: 70%;
    height: 80px;
    background-color:palevioletred;
    position: relative;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
}
.navbarfull #navbar-2 #leftmenu-2{
    width: 15%;
    height: 80px;
    background-color: rgb(23, 83, 248);
    position: relative;
    margin: 0px;
    min-width: 100px;
}
.navbarfull #navbar-2 #leftmenu-2 img{
    background-color: white;
    color: green;
    margin-top: 10px;
}
.navbarfull #navbar-2 #bigmenu-2{
    width: 70%;
    height: 80px;
    background-color: rgb(137, 168, 255);
    position: relative;
    margin: 0px;
}
.navbarfull #navbar-2 #bigmenu-2 #topmenu-2{
    width: 100%;
    height: 55px;
    background-color: rgb(236, 23, 255);
    position: relative;
    margin: 0px auto;
}
.navbarfull #navbar-2 #bigmenu-2 #bottommenu-2{
    width: 100%;
    height: 25px;
    background-color: rgb(105, 26, 124);
    position: relative;
    margin: 0px auto;
}
.navbarfull #navbar-2 #rightmenu-2{
    width: 15%;
    height: 80px;
    background-color: rgb(85, 129, 250);
    position: relative;
    margin: 0px;
    margin-left: auto;
}


/* Top MENU */
.topmenu{
    min-width: 1100px;
    width: 50%;
    height: 500px;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
}

.topmenu #top-slide{
    width: 70%;
    height: auto;
}

.topmenu #top-special{
    width: 30%;
    position: relative;
    height: 50%;
}

.topmenu #top-special{
    width: 30%;
    position: relative;
    height: 100%;
}
.topmenu #top-special #new{
    width: 100%;
    position: relative;
    height: 42%;
    background-color: rgb(212, 193, 82);
}
.topmenu #top-special #hittop{
    width: 100%;
    position: relative;
    height: 42%;
    background-color: rgb(248, 126, 45);
}

/* Tag MENU */
.tagmenu{
    min-width: 1100px;
    width: 70%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 25px auto;
}
.tagmenu #tagtop{
    width: 100%;
    height: 20%;
}
.tagmenu #tagtop #nametag{
    padding-top: 1%;
    padding-left: 1%;
    width:auto;
    height: 70%;
}
.tagmenu #tagicon{
    min-width: 1100px;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    display: flex;
}
.tagmenu #tagicon #cardtag{
    width: 10%;
    box-shadow: 0px 0px 1px rgba(35, 25, 25, .4);
}
.tagmenu #tagicon:hover #cardtag:hover{
    box-shadow: 1px 1px 2px rgba(35, 25, 25, .4);
}


/* Hit MENU */
#menuhit{
    min-width: 1100px;
    width: 100%;
    height: 650px;
    background-color: maroon;
}

#menuhit #nametag{
    padding-top: 0.5%;
    padding-left: 2%;
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
}
#menuhit #listhit{
    width: 100%;
    height: 92%;
    background-color: rgb(67, 67, 124);
    flex-wrap: wrap;
    display: flex;
}
#menuhit #listhit #moviehit{
    width: 20%;
    height: 100%;
    background-color: rgb(31, 78, 45);
}
#menuhit #listhit #moviehit img{
    background-color: white;
    border: 10px solid white;
}
#menuhit #listhit #moviehit:hover img:hover{
    background-color:none;
    border: none;
    height: 100%;
    width: 100%;
}

/* BLOG MENU */
#mixcontent{
    min-width: 900px;
    width: 70%;
    height: 1000px;
    margin: 25px auto;
    flex-wrap: wrap;
    display: flex;
}
#mixcontent #menutaghit{
    /* min-width: 1000px; */
    width: 30%;
    height: 100%;
}
#mixcontent #menutaghit #menuname{
    padding-top: 0.5%;
    padding-left: 2%;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgba(35, 25, 25, .4);
    border-radius: 5px 5px 0px 0px;
}
#mixcontent #menutaghit #listtaghit{
    width: 100%;
    height: 45%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgba(35, 25, 25, .4);
    border-radius: 0px 0px 5px 5px;
}
#mixcontent #menublog{
    /* min-width: 1000px; */
    margin-left: 5%;
    width: 65%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#menublog #menuname{
    padding-top: 0.5%;
    padding-left: 2%;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgba(35, 25, 25, .4);
    border-radius: 5px 5px 0px 0px;
}
#menublog #listblog{
    width: 100%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgba(35, 25, 25, .4);
    border-radius: 0px 0px 5px 5px;
}
#menublog #listblog #fullblog{
    width: 100%;
    height: 10%;
    background-color: rgb(104, 70, 131);
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    flex-wrap: wrap;
    display: flex;
}
#menublog #listblog #fullblog #blog-1{
    width: 80%;
    height: 100%;
}
#menublog #listblog #fullblog #blog-1 #headblog{
    padding-top: 1%;
    padding-left: 1%;
    width: 100%;
    height: 40%;
}
#menublog #listblog #fullblog #blog-1 #tagblog{
    width: 100%;
    height: 30%;
    padding-left: 1%;
    color: rgb(170, 197, 255);
}
#menublog #listblog #fullblog #blog-1 #userblog{
    width: 100%;
    height: 30%;
    padding-left: 1%;
    color: coral;
}
#menublog #listblog #fullblog #blog-2{
    width: 20%;
    height: 100%;
}
#menublog #listblog #fullblog #blog-2 #likeblog{
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    display: flex;
}
#menublog #listblog #fullblog #blog-2 #comentblog{
    width: 100%;
    height: 30%;
    flex-wrap: wrap;
    display: flex;
}
#menublog #listblog:hover #fullblog:hover{
    background-color: rgb(84, 30, 128);
}
#mixcontent #menutaghit #listtaghit #tagfull{
    width: 100%;
    height: 10%;
    background-color: coral;
    padding-top: 2.5%;
    padding-left: 1.5%;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
}
#mixcontent #menutaghit #listtaghit:hover #tagfull:hover{
    background-color: rgb(192, 82, 42);;
}

/*footter*/
.contain-footter{
    margin-top: 10%;
    width: 100%;
    height: 300px;
    min-width: 1100px;
    background-color: #4a4a4a;
}
.contain-footter #content-footter{
    width: 70%;
    height: 100%;
    background-color: #777777;
    margin:0px auto;
}